body.home {
  display: flex;
  align-items: center;
  height: 100vh;
}


.bio {
  font-size: 0.9rem;
  line-height: 1.4;
  color: $dark-blue;
}

.bio a {
  color: $dark-blue;
  text-decoration: none;
}
.bio a:hover {
  text-decoration: underline;
}

.contact {
  font-size: 0.9rem;
  color: $med-blue;
}
